###########################################################
# Visual Studio
###########################################################

.vs
[Bb]in/
[Oo]bj/
[Pp]ackages/

*.cache
*.feature.cs
*.GhostDoc.xml
*.user
*.suo
*.received.*